.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg,#4b0082,#000);
  padding: 15px 20px;
}

.logo {
  margin: 0;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-right a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media(max-width:768px){

  .hamburger {
    display: block;
  }

  .nav-right {
    position: fixed;
    right: -100%;
    top: 60px;
    background: black;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    padding: 20px;
    transition: 0.3s;
  }

  .nav-right.active {
    right: 0;
  }

}