.gallery-page{
  min-height:100vh;
  background:black;
  color:white;
  padding:20px;
}

.gallery-title{
  text-align:center;
  margin-bottom:20px;
}


/* GRID */

.gallery-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}


/* CARD */

.gallery-card{
  overflow:hidden;
  border-radius:10px;
  cursor:pointer;
  border:2px solid purple;
}

.gallery-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  transition:0.4s;
}

.gallery-card:hover img{
  transform:scale(1.2);
}


/* MODAL */

.gallery-modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.gallery-modal img{
  max-width:90%;
  max-height:90%;
  border-radius:10px;
}


/* RESPONSIVE */

@media(max-width:1024px){
  .gallery-grid{
    grid-template-columns:repeat(3,1fr);
  }
}

@media(max-width:768px){
  .gallery-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:480px){
  .gallery-grid{
    grid-template-columns:1fr;
  }
}