.hero {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?q=80&w=1600&auto=format&fit=crop");
  background-size: cover;
  background-repeat: no-repeat;
}