.hero {

  height: 90vh;

  background: url("https://images.unsplash.com/photo-1508098682722-e99c643e7f0b") center/cover no-repeat;

  display: flex;
  align-items: center;

}

.hero-text {
  padding-left: 40px;
}

@media(max-width:768px){

  .hero {
    height: 70vh;
  }

  .hero-text h1 {
    font-size: 26px;
  }

}