.teams-page{
  min-height:100vh;   /* full screen height */
  
  background-image:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1551958219-acbc608c6377");
    
  background-size:cover;        /* fill full screen */
  background-position:center;   /* center image */
  background-repeat:no-repeat;  /* prevent repeat */
  background-attachment:fixed;  /* optional smooth effect */

  color:white;
  padding:20px;
}
/* TEAM BUTTONS */

.team-buttons {

  margin-bottom: 30px;

}

.team-buttons button {

  padding: 10px 25px;
  margin: 10px;

  background: black;
  color: white;

  border: 2px solid #8c23ac;

  border-radius: 10px;

  cursor: pointer;

  transition: 0.3s;

}

.team-buttons button:hover,
.team-buttons .active {

  background: rgba(92, 16, 173, 0.881);
  color: black;

}

/* CARDS GRID */

.cards-container {

  display: grid;

  grid-template-columns: repeat(4, 250px);

  justify-content: center;

  gap: 30px;

}

/* CARD */

.player-card {

  height: 350px;

  background: #111;

  border-radius: 20px;

  border: 2px solid cyan;

  overflow: hidden;

  cursor: pointer;

  transition: 0.4s;

  box-shadow: 0 0 15px cyan;

}

/* PUSH EFFECT */

.player-card:hover {

  transform: translateY(-15px) scale(1.05) rotate(-2deg);

  box-shadow: 0 0 35px cyan;

}

/* IMAGE TOP 75% */

.img-box {

  height: 75%;

}

.img-box img {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* INFO BOTTOM */

.info {

  height: 25%;
  padding: 10px;

  background: #000;

}

.info h3 {

  margin: 5px;
  font-size: 18px;

}

.info p {

  margin: 3px;
  font-size: 14px;
  color: #ccc;

}

/* TABLET */

@media(max-width:1100px){

  .cards-container {

    grid-template-columns: repeat(2, 250px);

  }

}

/* MOBILE */

@media(max-width:600px){

  .cards-container {

    grid-template-columns: repeat(1, 250px);

  }

}