.tournament-page{
  min-height:100vh;
  background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(255, 255, 255, 0)),
    url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e") no-repeat center center/cover;
  color:white;
  padding:20px;
}

/* MATCH BAR */

.match-bar{
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-bottom:30px;
}

.match-card{
  background:linear-gradient(90deg,purple,black);
  padding:15px;
  border-radius:10px;
}

.teams{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  font-size:20px;
  font-weight:bold;
}

.score{
  color:yellow;
  font-size:24px;
}

.match-info{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:10px;
  font-size:14px;
}



/* MAIN CONTAINER */

.tournament-container{
  display:flex;
  gap:30px;
}



/* REGISTRATION */

.registration{
  flex:1;
  background:#111;
  padding:20px;
  border-radius:10px;
}

.registration form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.registration input,
.registration select{
  padding:10px;
  border:none;
  border-radius:5px;
}

.registration button{
  background:purple;
  color:white;
  border:none;
  padding:10px;
  cursor:pointer;
}

.registration button:hover{
  background:#a020f0;
}



/* CALENDAR */

.calendar{
  flex:1;
  background:#111;
  padding:20px;
  border-radius:10px;
}

.calendar-card{
  display:flex;
  justify-content:space-between;
  background:#222;
  padding:10px;
  margin-top:10px;
  border-radius:5px;
}



/* MOBILE RESPONSIVE */

@media(max-width:768px){

  .tournament-container{
    flex-direction:column;
  }

}
